

<div class="ui-grid-b">
	<div class="ui-block-a">
		<div data-role="controlgroup"  id="buttons">
		<a href="index.html" data-role="button">Yes</a>
		<a href="index.html" data-role="button">No</a>
		<a href="index.html" data-role="button">Maybe</a>
		</div>
	</div>
	<div class="ui-block-b">
		<div data-role="controlgroup"  id="buttons">
		<a href="index.html" data-role="button">Yes</a>
		<a href="index.html" data-role="button">No</a>
		<a href="index.html" data-role="button">Maybe</a>
		</div>
	</div>
	<div class="ui-block-c">
		<div data-role="controlgroup"  id="buttons">
		<a href="index.html" data-role="button">Yes</a>
		<a href="index.html" data-role="button">No</a>
		<a href="index.html" data-role="button">Maybe</a>
		</div>
	</div>
</div><!-- /grid-a -->