<h1>Tyler J Gillies</h1>
<h2><a href="mailto:tjgillies@gmail.com">tjgillies@gmail.com</a></h2>
<h2>tjgillies on <a href="//web.freenode.net">irc</a> 	Freenode #PDXWebDev</h2>
<h3 id="vcard"><a href="/tyler.vcard">Download vcard</a></h3>