<p>This is my home on the web. </p>

<p>The time is now <span id="time"> </span></p>

<p>This is a canvas element</p>


<canvas id="canvas" width="200" height="200">
	This text is displayed if your browser does not support HTML5 Canvas.
</canvas>

<div class="ui-grid-a">
	<div class="ui-block-a"><strong>I'm Block A</strong> and text inside will wrap</div>
	<div class="ui-block-b"><strong>I'm Block B</strong> and text inside will wrap</div>
</div><!-- /grid-a -->

<p>This template is standard HTML document with a single "page" container inside, unlike a <a href="page1.html" data-prefetch>multi-page template</a> that has multiple pages within it. We strongly recommend building your site or app as a series of separate pages like this because it's cleaner, more lightweight and works better without JavaScript.</p>