#vcard{
	text-align:center;
	
}

#vcard a {
	text-decoration:none;
}

#time {
	font-style:italic;
	font-weight:bold;
}

#canvas {
	border-style:solid;
	margin-bottom:20px;
}

#buttons {
	text-align:center;
	width:100%;
}